= render partial: "partials/header"

script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry"
script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js'


#wrapper-map
  #wrapper-map2
    section@list-view ng-controller="ListViewCtrl"
      a.card ng-repeat="object in alternatives" ng-mouseover="hoverCard(object)" href="#"
        .card-image-area style="background-image: url({{ object.cover }})"
          .card-position {{ $index+1 }}
        .card-title {{ object.name }}
#map tr-map=true

sass:
  [role=list-view] > ul
    margin-left: 30px

  .card
    display: block
    width: 180px
    height: 220px
    float: left
    border: 1px solid #bbb
    margin: 0 7px 10px
    .card-image-area
      padding: 10px
      height: 120px
      background-size: cover
      background-position: center
      background-color: #ddd
    .card-title
      padding: 10px
    .card-position
      height: 40px
      width: 40px
      background-color: #ff5a5f
      color: #fff
      text-align: center
      line-height: 40px
      font-size: 20px
      border-radius: 20px

  #map
    width: 700px
    height: 470px
    border: 1px solid crimson
    position: absolute
    right: 0
    bottom: 0
