@import _settings

html, body
  height: 100%

#wrapper
  height: 100%
  position: relative

header
  height: 100px
  position: absolute
  top: 0
  width: 100%
  z-index: 50
  background-color: #fff

#wrapper-map
  overflow-y: auto
  width: 500px
  height: 100%
  min-height: 100%
  position: absolute

#wrapper-map2
  height: 100%
  margin-top: 140px
  border-right: 1px solid $mid-grey
