@import _settings

#entries-list
  width: 372px
  border-right: 1px solid $mid-grey
  overflow: hidden
  float: left

.card
  display: block
  width: 180px
  height: 220px
  float: left
  border: 1px solid #bbb
  margin: 0 7px 10px 0
  text-decoration: none
  &:nth-child(even)
    margin-right: 0
  .card-image-area
    padding: 10px
    height: 120px
    background-size: cover
    background-position: center
    background-color: #ddd
    color: #fff
  .card-title
    padding: 10px
  .card-position
    display: inline-block
    height: 32px
    width: 32px
    background-color: $links-color
    color: #fff
    text-align: center
    line-height: 32px
    font-size: 16px
    border-radius: 16px 16px 16px 0
  &:hover .card-position
    background-color: $alternate-color

#map
  background-color: #eee
  height: 505px
  margin-left: 432px

.angular-google-map-container
  height: 505px

@mixin map-label
  width: 18px
  height: 18px
  line-height: 20px
  text-align: center
  color: white
  padding: 4px
  border: 1px solid #fff
  border-radius: 16px
.map-label
  +map-label
  background: $links-color
.map-label-hovered
  +map-label
  background: $alternate-color
